body {
    margin: 40px;
    background-color: rgb(174, 201, 228);
}

h1 {
    color: brown;
    text-align: center;
}

.h2 {
    text-align: center;
}

.my-image {
    position: absolute;
    float: left;
    border-radius: 10px;
    top: 0;
}

.project>div {
    display: inline-block;
    background-color: aliceblue;
    width: 45%;
    border-radius: 10px;
}

.div2,
.div4 {
    float: right;
}

.div4 {
    margin-top: 20px;
}

.image {
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: rgb(243, 193, 128);
    width: 100%;
}

a {
    text-decoration: none;
}

.div3 {
    margin-top: 20px;
}

@media (max-width:1020px) {
    div.card {
        float: none;
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 70%;
    }

    .div2 {
        margin-top: 20px;
    }
}

@media (max-width:670px) {
    .my-image {
        position: relative;
        float: none;
    }

    .header {
        text-align: center;
    }
}

@media (max-width:600px) {
    div.card {
        float: none;
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .div2 {
        margin-top: 20px;
    }
}

footer {
    text-align: center;
    font-size: large;
    color: rgb(85, 44, 44);
}
