body {
    margin: 40px;
    background-color: rgb(174, 201, 228);
}

h1 {
    color: rgba(165, 42, 42, 0.863);
    text-align: center;
}

h2 {
    color: rgba(182, 59, 84, 0.904);
    font-size: x-large;
}

.h2 {
    text-align: center;
}

.my-image {
    position: absolute;
    float: left;
    border-radius: 10px;
    top: 0;
}

.project>div {
    display: inline-block;
    background-color: aliceblue;
    width: 45%;
    border-radius: 10px;
}

.div2,
.div4 {
    float: right;
}

.div4 {
    margin-top: 20px;
}

.image {
    width: 60%;
    border-radius: 10px;
    position: relative;
    left: 20%;
}

h3 {
    font-size: x-large;
    text-align: center;
    color: rgb(241, 179, 98);
    width: 100%;
}

a {
    text-decoration: none;
}

.div3,
.div5 {
    margin-top: 20px;
}

@media (max-width:900px) {
    div.card {
        float: none;
        width: 70%;
        position: relative;
        left: 15%;
    }

    .image {
        width: 60%;
        position: relative;
        left: 20%;
    }

    .div2 {
        margin-top: 20px;
    }
}

@media (max-width:670px) {
    .my-image {
        position: relative;
        float: none;
    }

    .header {
        text-align: center;
    }
}

@media (max-width:600px) {
    .image {
        width: 100%;
        position: relative;
        left: 0%;
    }

    .div2 {
        margin-top: 20px;
    }
}

.certification>div {
    display: inline-block;
    background-color: aliceblue;
    width: 45%;
    border-radius: 10px;
}

.cert2,
.cert4,
.cert6 {
    float: right;
}

.cert1_image {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    left: 20%;
}

.cert3,
.cert4,
.cert5,
.cert6 {
    margin-top: 20px;
}

@media (max-width:900px) {
    div.card {
        float: none;
        width: 70%;
        position: relative;
        left: 15%;
    }

    .cert1_image {
        width: 60%;
        position: relative;
        left: 20%;
    }

    .cert2 {
        margin-top: 20px;
    }
}

@media (max-width:600px) {
    div.card {
        float: none;
        width: 100%;
        position: relative;
        left: 0%;
    }

    .cert1_image {
        width: 100%;
        position: relative;
        left: 0%;
    }
}

footer {
    text-align: center;
    font-size: large;
    color: rgb(85, 44, 44);
}
